<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- Angulat Chart -->
    <link href="//raw.githubusercontent.com/jtblin/angular-chart.js/master/dist/angular-chart.css" rel="stylesheet">

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="js/chart.js/Chart.min.js"></script>
    <!-- <script src="https://rawgit.com/nnnick/Chart.js/master/Chart.min.js"></script> -->
    <script src="https://rawgit.com/jtblin/angular-chart.js/master/dist/angular-chart.min.js"></script>


    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <script src="js/ng-cordova.min.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controller.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCi9qqyU5sxNF4IZBtpL0HTtfRh_CY2Uro&sensor=true"></script>
    
  </head>
  <body ng-app="BlueChart">

    <ion-pane>
      <ion-header-bar class="bar bar-header bar-dark">
        <h1 class="title">Drone App</h1>
      </ion-header-bar>

      <ion-content ng-controller="DroneController">

        <div class="row">
          <button class="col col-50 button button-assertive" ng-click="showSensors()">
            <i class="ion-ios-pulse-strong"></i>
          </button>
          <button class="col col-50 button button-assertive" ng-click="showMaps()">
            <i class="ion-android-compass"></i>
          </button>
        </div>

        <div ng-show="sensorsSelected">
          <label class="item item-input item-select">
            <div class="input-label">
              Select Device
            </div>
            <select ng-model="currSelect" ng-options="item.name for item in deviceList" ng-change="deviceSelected()">
              <option value="">Select</option>p
            </select>
          </label>

          <div class="item item-button-right">
            <input type="text" placeholder="Type Data To Send" ng-model="dataToSend">
            <button class="button button-assertive" ng-click="send()">
              <i class="ion-play"></i>
            </button>
          </div>

          <div class="item range">
            <i class="ion-arrow-left-a"></i>
            <input type="range" name="pwm" min="0" max="160" value="0" ng-model="pwm" ng-change="pwmChanged()">
            <i class="ion-arrow-right-a"></i>
          </div>

          <div class="card">
            <div class="item item-text-wrap item-button-right">
              <span ng-show="isConnected">Connected To: {{currSelect.name}} {{currSelect.address}} Valor PWM: {{pwm}}</span>
              <span ng-show="!isConnected">Find Devices</span>
              <button class="button button-right button-assertive" ng-click="getDevices()" ng-if="deviceList.length == 0">
                <i class="ion-refresh"></i>
              </button>
              <button class="button button-right button-assertive" ng-click="getSensorData()" ng-show="isConnected">
                <i class="ion-stats-bars"></i>
              </button>
              <button class="button button-right button-assertive" ng-click="stopSensorData()" ng-show="isGettingSensorData">
                <i class="ion-close"></i>
              </button>
            </div>
          </div>

          <div class="list" id="chartsContainer">
            Sensor 1
            <canvas id="sensor1Chart"  class="chart chart-line" data="graph.data1" labels="graph.labels"
              series='graph.series' height="100"></canvas>

            <!-- Sensor 2
            <canvas id="sensor2Chart"  class="chart chart-line" data="graph.data2" labels="graph.labels"
              series='graph.series' height="100"></canvas>

            Sensor 3
            <canvas id="sensor3Chart"  class="chart chart-line" data="graph.data3" labels="graph.labels"
              series='graph.series' height="100"></canvas> -->
          </div>

        </div>

        <div ng-show="mapsSelected">
          <button class="button button-assertive" ng-click="centerMe()">
            <i class="ion-navigate"></i>
          </button>

          <div id="map" data-tap-disabled="true"></div>

        </div>

      </ion-content>
    </ion-pane>
  </body>
</html>
